body{
    background-color:black;
    color:white;
}

h1{
    text-align: right;
    margin: 5px;
    padding: 5rem 5rem 5rem 5rem;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lorem{
color: brown;
}

/* how to implement css with html */